.cut {
    height: 100px;
    width: 100px;
    margin: auto;
}

h1 { text-align: center;

}

#myHeader2 { text-align: center;


}

.container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-column: auto;
grid-row: auto;
gap: 20px;
}

/* Container Border */
.results-section {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    }

.data-section {
    border: 3px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    }

.button {width: 190px;}
